/* Allbooking.css or Status.css */
.responsive-swal-popup {
    font-size: 1rem; /* Default font size */
}

@media (max-width: 768px) {
    .responsive-swal-popup {
        font-size: 0.9rem; /* Smaller font for mobile */
    }

    .swal2-popup .swal2-image {
        width: 80%; /* Adjust image width for smaller screens */
        height: auto; /* Maintain image aspect ratio */
    }
}

@media (max-width: 480px) {
    .responsive-swal-popup {
        font-size: 0.8rem; /* Even smaller font for very small screens */
    }

    .swal2-popup .swal2-image {
        width: 100%; /* Full-width image for small mobile devices */
        height: auto;
    }
}
